.ipynb_checkpoints/
*-checkpoint.ipynb
*.csv
*.jpg
*.log
*.bak
*.swp
*.Rhistory
*.theanorc
*.pyc
*.wav
*.mp3
svmSMtemp
svmSMtemp.arff
svmSMtempMEANS
data/audioset/rerated_video_ids.txt
*.tfrecord
*.tar.gz
*.pkl
*.h5
data/
sounds/
.DS_Store
diff_class_datasets/
.idea/
predictions/multilabel_model/weights/
checkpoint/
predictions/binary_relevance_model/weights/
test/weights/
test/out/
.coverage
.coveragerc
