body{
 background-image: url("forest1.jpg");
    background-size: 100% 100%;
    background-position: center center;
    min-width: 100%;
    min-height: 100vh;

}
h1 {
	text-align: center;
	text-decoration: underline;
	color: green;
	font-size: 40px;
}
h2{
	font-size: 25px;
	text-align: center;
	color: green;
}
@-moz-document url-prefix() {
    select {padding:400px;}
}


#t {
	text-align:justify;
	text-decoration: none;
	margin: 0 auto; 
	width: 180px;
	font-size: 20;


}
#page1 {
	text-align:center;
	text-decoration: none;
	margin: 0 auto; 
	width: 180px;

}
#button{
	color: green;
	text-align:center;
	text-decoration: none;
	margin: 0 auto; 
	width: 180px;

}

._dash-undo-redo {
  display: none;
}